<div class="container h-100">
    <div class="row min-vh-100 justify-content-center align-items-center g-5">

        <div class="col-lg-5">
            <div class="card shadow-sm p-4">
                <div class="text-success fw-bold fs-2 mb-4">AgroApp</div>
                <h4 class="fw-bold">Inicia Sesión</h4>
                <p class="text-muted mb-4">Ingrese sus detalles</p>

                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                        <label class="form-label text-success">
                            Usuario <span class="text-danger">*</span>
                        </label>
                        <input
                            type="text"
                            class="form-control"
                            placeholder="Ingrese su usuario"
                            formControlName="usuario"
                        >
                        @if (loginForm.touched && loginForm.invalid){
                            <div class="invalid-feedback d-block">
								@if (f.usuario.hasError('required')) {
									<span>El nombre es obligatorio.</span>
								}
								@if (f.usuario.hasError('minLenght')) {
									<span>Mínimo 2 caracteres.</span>
								}
								@if (f.usuario.hasError('maxlength')) {
									<span>Máximo 50 caracteres.</span>
								}
								@if (f.usuario.hasError('pattern')) {
									<span>Solo letras y espacios.</span>
								}
							</div>
                        }
                    </div>

                    <div class="mb-3">
                        <label class="form-label text-success">
                            Contraseña <span class="text-danger">*</span>
                        </label>
                        <input
                            type="password"
                            class="form-control"
                            placeholder="Ingrese su contraseña"
                            formControlName="password"
                        >
                        @if (f.password.touched && f.password.invalid){
                        <div class="invalid-feedback d-block">
								@if (f.password.hasError('required')) {
									<span>El nombre es obligatorio.</span>
								}
								@if (f.password.hasError('minLenght')) {
									<span>Mínimo 2 caracteres.</span>
								}
								@if (f.password.hasError('maxlength')) {
									<span>Máximo 50 caracteres.</span>
								}
								
								
						</div>
                        }
                        
                    </div>

                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <div class="form-check">
                            <input
                                class="form-check-input"
                                type="checkbox"
                                id="rememberMe"
                                formControlName="rememberMe"
                            >
                            <label class="form-check-label" for="rememberMe">
                                Recuérdame
                            </label>
                        </div>
                        <a href="#" class="text-primary text-decoration-none">
                            Olvide mi contraseña
                        </a>
                    </div>

                    <button
                        type="submit"
                        class="btn btn-success w-100 mb-2 fw-bold"
                    >
                        LOGIN
                    </button>
                </form>

                <div class="text-center text-muted mt-4" style="font-size:small;">
                    AgroApp. Todos los derechos reservados
                </div>
            </div>
        </div>

        <div class="col-lg-5 d-flex flex-column align-items-center">
            <div class="card-logo-glow mb-3 text-center">
                <img
                    src="assets/images/LogoAPP.jpg"
                    alt="LogoApp"
                    class="img-fluid"
                >
            </div>
            <div class="text-center mt-2">
                <div class="fw-bold text-primary mb-1">
                    Hacemos fácil lo que es nuestro
                </div>
                <div class="text-muted">
                    Optimizado para el trabajo
                </div>
            </div>
        </div>

    </div>
</div>
