.navbar {
  height: 60px;
  z-index: 1020;
  position: sticky;
  top: 0;
  transition: margin-left 0.3s ease;
}

.navbar .btn-link {
  text-decoration: none;
}

.navbar .btn-link:hover i {
  color: #28a745;
}

.badge {
  padding: 0.25rem 0.4rem;
}

.dropdown-toggle::after {
  margin-left: 0.5em;
}

@media (max-width: 991.98px) {
  .navbar {
    margin-left: 0;
  }
}
